* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: url('../img/background.png') no-repeat center center/cover;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
.titulo {
    width: 100%;
}
.titulo div{
    width: 80%;
    color: white;
    font-size: 2rem;
    background-image: linear-gradient(270deg, #131e1d 0, #0c1312 25%, #000000 50%, #000000 75%, #000000 100%);
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

/* Navbar */

.navbar {
    width: 100%;
    background-color: rgb(255, 255, 167);
    color: white;
}
.navbar .navbar-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.navbar .navbar-container .title {
    font-size: 1.5rem;
    background-color: rgb(228, 208, 122);
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.navbar .navbar-container .title a {
    color: black;
}
.navbar .navbar-container .list {
    list-style-type: none;
    display: flex;
}
.navbar .navbar-container .list li:nth-child(2) {
    margin: 0 40px;
}
.navbar .navbar-container .list li a {
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgb(228, 208, 122);
    border-radius: 15px;
    padding: 16px;
}

/* Seção Produto */

.produto {
    width: 100%;
    min-height: 600px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px 80px;
}
.produto .conteiner {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px white;
    justify-content: space-between;
    flex-direction: column;
}
.produto .conteiner .desc {
    background-image: linear-gradient(rgb(30, 255, 60), rgb(100, 223, 100));
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
}
.produto img {
    width: 200px;
    pointer-events: none;
}

/* Footer */
.rodape {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: #222;
    flex-direction: column;
}
.rodape h1 {
    font-size: 1.5rem;
    color: #ffffae;
    margin-bottom: 5px;
}
.rodape div {
    font-size: 1.1rem;

}


/* Compra */

.buy {
    animation: compra 500ms forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}
@keyframes compra {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1.2);
    }
}
.buy p {
    color: white;
    font-size: 3rem;
    background-color: rgb(33, 136, 68);
    border-radius: 20px;
    padding: 20px;
}

/* Responsivo */
@media(max-width: 1300px){
    .produto {
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
    }
    .buy p {
        max-width: 400px;
        font-size: 1.6rem;
    }
}
@media(max-width: 800px){
    .produto {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .buy p {
        max-width: 300px;
        font-size: 1.2rem;
    }
    .navbar .navbar-container {
        flex-direction: column;
    }
    .navbar .navbar-container .title {
        margin-bottom: 20px;
    }
    .navbar .navbar-container .list {
        margin-bottom: 20px;
    }
}
@media(max-width: 400px){
    .produto img {
        width: 150px;
    }
    .navbar .navbar-container .title {
        font-size: 1.3rem;
    }
    .navbar .navbar-container .list li a {
        font-size: 1rem;
    }
}